Flask==2.3.3             # Lightweight API
gunicorn==21.2.0         # Production WSGI server
flask-cors==4.0.0        # Handle CORS if needed

# NLP & AI dependencies
NLTK==3.8.1
scikit-learn==1.6.1
pandas==2.2.3
numpy==2.0.2
openai==0.28.1
PyPDF2==3.0.1
docx2txt==0.8
torch==2.6.0
transformers==4.49.0

# Other dependencies
python-dotenv==1.0.0
requests==2.32.3
joblib==1.4.2
werkzeug==3.1.3
